# Ignore node_modules
node_modules/

# Other files to ignore
.env
.DS_Store
roads.geojson
tiles.mbtiles
export-tiles.js
generate-tiles.js
tiles1.mbtiles
roads-filtered.pbf
importRoads.js
australia-latest.osm.pbf
analyze-road.js
tiles.mbtiles-journal
