# Ignore node_modules
node_modules/

# Other files to ignore
.env
.DS_Store
roads.geojson
tiles.mbtiles
export-tiles.js
generate-tiles.js
tiles1.mbtiles
roads-filtered.pbf
importRoads.js
australia-latest.osm.pbf
analyze-road.js
tiles.mbtiles-journal
check-mongo.js
extract-surface-all.js
mbtiles-splitter.js
extract-surface-all.js
part1-splitter.js
regional-tile-generator.js
tiles-part1.mbtiles
tiles-part1a.mbtiles
tiles-part1b.mbtiles
tiles-part2.mbtiles
tiles-part3.mbtiles
tiles-part4.mbtiles
extract-surface-all.js
gravelatlas-tiles/config.json
gravelatlas-tiles/data/osm-2020-02-10-v3.11_australia-oceania.mbtiles
gravelatlas-tiles/styles/basic.json
tilemaker/
add_osm_id.js
all_roads.json
all_unpaved_roads.geojson
all_unpaved_roads_fixed.geojson
all_unpaved_ways.osm.pbf
extract-osm-data.js
pois.json
unpaved_roads.geojson
unpaved_roads.json
unpaved_ways.osm.pbf
all_unpaved_roads_fixed.mbtiles
pois_first.mbtiles
pois_flattened.js
pois_flattened.json
pois_new.mbtiles
unpaced_roads_big.mbtiles
unpaved_roads_big.mbtiles
pois_new2.mbtiles
